.navbar {
    display: flex;
    border-bottom: 1px solid #C0C0C0;
    justify-content:center;
}

.navbar-container {
    width: 1440px;
    display: flex;
    justify-content: space-between;
}

.logo img {
    width: 48px;
    height: 48px;
    vertical-align: middle;
  }
  
  .logo {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
  }
  .logo-text {
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 22px;
color: #282828;
  }

.nav-item {
    margin: 10px;
    display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: black;
  font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
cursor: pointer;
}

.nav-item:hover {
    color: #582066;
}

.button-nav-item:hover {
    color: #582066;
    text-decoration: none;
}

.container{
    margin-right: 112px;
}


.website {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #582066;
    margin-block-start: 12px;
margin-block-end: 12px;
}

.firststeps {
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 72px;
color: #282828;
align-self: stretch;
margin-block-start: 12px;
margin-block-end: 12px;
}

.Story {
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
color: #3D495E;
margin-block-start: 12px;
margin-block-end: 12px;
}

.button {
    display: flex;
    align-items:center;
    padding: 22px 24px;
    text-decoration: none;
    color: white;
    background-color: rgb(44, 42, 42);
    border-radius: 16px;
    width: 132px;
    justify-content: center;
    cursor: pointer;
}

.button:hover {
    background-color: #582066;
}

.button-text > a {
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
text-align: center;
color: whitesmoke;
margin-right: 12px;
text-decoration: none;
}

.button-text {
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
text-align: center;
color: whitesmoke;
margin-right: 12px;
text-decoration: none;
}

.button-img {
    width: 24px;
height: 23.12px;
}

.photo {
    border-radius: 56px;
    width: 364px;
    height: 458px;
    left: 0px;
}

.photing {
    justify-content: end;
    align-content:center;
}

.max {
    display: flex;
    align-items: center;
    padding-right: 32px;
    padding-left: 32px;
    width: 1440px;
}

@media screen and (max-width: 800px) {
    .max{
        flex-wrap: wrap;
    }
}

.content {
    display: flex;
    justify-content: center;
    padding-top: 72px;
}

.text-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 48px;
    margin-right: 108px;
}

.text-and-button {
    flex-direction: column;
}

.footer {
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
    justify-content: center;
    margin-top: 36px;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 32px;
    padding-right: 32px;
    width: 1440px;
}
.one {
    width: 150px;
    display: inline-block;
}

